<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <style>
        body{
        background-image: url("images/road-4730553_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <title>Prognoza pogody</title>
</head>

<body>
    <div class="container">
        <br>
        <h1 class="text-center text-bold text-black badge bg-light fs-1">RUDA ŚLĄSKA - WEATHER REPORT</h1>
        <br>
    </div>

    <div class="container">
        <table class="table">
            <thead class="table-primary text-center fs-3 fw-bold">
                <tr>
                    <th th:each="time : ${todayWeatherDataMap1.keySet()}" th:text="${time}"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center"
                        th:each="entry : ${todayWeatherDataMap1.entrySet()}">
                        <span class="fs-3 fw-bold" th:each="value : ${entry.value}" th:text="${value.temperature}"></span><br>
                        <span class="fs-5" th:each="value : ${entry.value}" th:text="${value.summary}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="container">
        <table class="table">
            <thead class="table-primary text-center fs-3 fw-bold">
                <tr>
                    <th th:each="time : ${todayWeatherDataMap2.keySet()}" th:text="${time}"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center"
                        th:each="entry : ${todayWeatherDataMap2.entrySet()}">
                        <span class="fs-3 fw-bold" th:each="value : ${entry.value}" th:text="${value.temperature}"></span><br>
                        <span class="fs-5" th:each="value : ${entry.value}" th:text="${value.summary}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="container">
        <table class="table">
            <thead class="table-primary text-center fs-3 fw-bold">
                <tr>
                    <th th:each="time : ${todayWeatherDataMap3.keySet()}" th:text="${time}"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center"
                        th:each="entry : ${todayWeatherDataMap3.entrySet()}">
                        <span class="fs-3 fw-bold" th:each="value : ${entry.value}" th:text="${value.temperature}"></span><br>
                        <span class="fs-5" th:each="value : ${entry.value}" th:text="${value.summary}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>

    <div class="container">
        <table class="table">
            <thead class="table-primary text-center fs-3 fw-bold">
            <tr>
                <th></th>
                <th th:each="date : ${nextDaysWeatherDataMap.keySet()}" th:text="${date}"></th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="i : ${#numbers.sequence(0, 23)}">
                    <td class="text-center fs-5 fw-bold bg-primary-subtle">
                        <span th:text="${hoursList[i]}"></span>
                    </td>

                    <td class="text-center bg-transparent"
                        th:each="entry : ${nextDaysWeatherDataMap}">
                        <span class="text-black badge bg-light fs-5 fw-bold " th:if="${i < entry.value.size()}" th:text="${entry.value[i].temperature}"></span><br>
                        <span class="text-black badge bg-light fs-6" th:if="${i < entry.value.size()}" th:text="${entry.value[i].summary}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>